h1 {
	color: green;
	font-style: italic;
}

/* .btn {
	background-color: black;
	color: white;
	cursor: pointer;
} */

.note {
	color: grey;
	padding-top: 3px;
	font-size: 15px;
}

.important-btn {
	margin-left: 15px;
}

.error {
	color: red;
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
